<!DOCTYPE html>

<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
	<h1>Hello <%=h @member.first_name %></h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non ultricies sapien. Nam in mi a orci placerat auctor. Aliquam erat volutpat. Curabitur faucibus purus nec semper lobortis. Maecenas at tempus nisi. Fusce vel massa nulla. Mauris convallis fringilla turpis, eget dapibus ipsum ornare et. Aenean iaculis porta nunc varius sodales. Vivamus ac massa congue, cursus ipsum at, lobortis eros. Vivamus bibendum mollis libero, nec tempor metus dapibus sit amet. Suspendisse pretium sem aliquet dui consectetur, et mattis urna sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
	</p>
	<p>Thanks, from the WLA Team!</p>
</body>
</html>
